@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    
    
    font-family: 'Montserrat', sans-serif;
}

main{
    background-color: rgba(18, 27, 43, 1);
    color: aliceblue;
}

body{
  background-color: rgba(18, 27, 43, 1);
  
}

.textoCategorias{
    color: aliceblue;
    text-decoration: none;
    
}

.textoCategorias:hover{
    color: rgba(112, 198, 245, 0.776);
    text-shadow: 0px 0px 5px  rgb(0, 13, 255);
}

.contenedor{
    display: flex;
    
}

img{
    height: 350px;
    width: 250px;
    border-radius: 3px;
    transition: .5s;

}

.carta{
    height: 350px;
    margin: 15px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    
}

.intro{
    height: 80px;
    width: 250px;
    padding: 6px;
    bottom: 80px;
    box-sizing: border-box;
    position: relative;
    background: rgb(27,27, 27, 0.5);
    color: white;
    transition: .5s;
}

h1{
    margin: 10px;
    width: auto;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
}

.botonCard{
    visibility: hidden;
    opacity: 0;
    
    
}

.carta:hover{
    cursor: pointer;
}

.carta:hover .intro{
    height: 120px;
    bottom: 120px;
    background: rgb(27,27, 27, 0.5);

}

.carta:hover h1{
    opacity: 1;
    visibility: visible;

}

.carta:hover img{
    transform: scale(1.1);
}

.carta:hover .botonCard{
    opacity: 1;
    visibility: visible;
    
}

.logoFooter{

    width: 200px;
    height: 100px;
}
.navbar{
    display: flex;
    background:#235264;
  
  
  }
  
  
  .botones{
    color: rgb(223, 223, 223);
    background-color: #295294;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    text-shadow: 4px 4px 6px rgba(0,0,0,0.29);
  }
  .botonesizqnav{
    display: flex;
    height: 2rem; 
    margin: 0;   
    
  }
  .botoncontacto{
   text-decoration: none;
   margin-right: 10px;
  } 
  #botonloginnav{
    text-shadow: 4px 4px 6px rgba(0,0,0,0.29);
    margin-right: 3px;
  }
  .botonesderechanav{
    display: flex;
    height: 2rem;
  }
  .avatarnav{
    width: 30px;
    height:30px;
    border-radius: 50%;
    margin-left: 5px;
    
  }
  .logoajustes{
    margin-left: 5px;
    padding: 3px;
    width: 30px;
    height:30px;
    border-radius: 50%;
  }
  .logonavbar{
    margin-right: 10px;
    width: 163px;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5%;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  }
  
  
  #inputsearchnav{
    width: 100px;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    text-shadow: 4px 4px 6px rgba(0,0,0,0.29);
  }
  
  .botonsearchnav{
    margin-left: 10px;
  }
  
  #avatarnavcollapse{
    width: 100px;
    border: 1px solid gray;
    border-radius: 10%;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  height: auto;
  }
  .collapsemob{
    background: #751c86;
    background: linear-gradient(2deg,#751c86 0%, #9f0fa7 80%);
    background: -webkit-linear-gradient(2deg,#751c86 0%, #9f0fa7 80%);
    background: -moz-linear-gradient(2deg,#751c86 0%, #9f0fa7 80%);
  }
  
  .botonesnavcollapse{
    width: 50%;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.29);
  }
  .container-usuario{
    width: 12rem;
    border-radius: 5%;
    border: 1px solid black;
    margin-left: 30px;
    
  }
  .botonedituser{
    width: 30px;
  }    
  .fondoregistro{
    background-image: url(/assets/card/navbar/fondo\ modal\ registro.jpeg) ;
    background-size: contain;
    
  }
  .titulomodal{
    text-shadow: 4px 4px 6px rgba(0,0,0,0.29);
  }
  .modal-header{
    background:#235264;
  }
  .bgmodalbody{ 
    background-image: url(/assets/card/navbar/fondo\ modal\ registro.jpeg);
    background-size: contain;
  }
  .shadowinput{
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  }
  
  @media only screen and (min-width:766px){
    .botonhamb{
        display: flex;
        justify-content: flex-end;
        display: none;
    }
  }
  
  @media only screen and (max-width:815px){
    .botonesderechanav{
        display: none;
    }
  
    .botonesizqnav1, .botonesizqnav2{
        display: none;
    }
    
    .botonhamb{
        display: flex;
        justify-content: flex-end;
    }
  
    .logonavbar{
        display: flex;
        justify-content: flex-start;
    }
    .logonavbardnone{
        display: none;
    }
    .botoncontacto{
        margin-right: 0px;
    }
    .logoajustes{
        border-radius: 10%;
        width: 28px;
        height: 25px;
        height: auto;
        
    }
    #inputsearchnav{
        width: 100%;
        height: 30px;
    }
    .botones{
        margin:5px
    }
    
  }
  



@media only screen and (max-width:1000px) {

    *{
        margin: 0;
        
        color: aliceblue;
    }
    
    .textoCategorias{
        color: aliceblue;
        text-decoration: none;
        
    }

    .contenedor{
    display: flex;
    flex-direction: row ;
    align-items: center;
    flex-wrap: wrap;
    }

    img{
        height: 350px;
        width: 300px;
        border-radius: 3px;
        transition: .5s;
        position: static;
    
    }


    .carta{
        height: 350px;
        margin: 15px;
        width: 300px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
        position: relative;
    }
    
    
    
    h1{
        margin: 10px;
        width: auto;
        font-size: 20px;
        text-align: center;
        background-color: transparent;
    }
    
    .botonCard{
        visibility: hidden;
        opacity: 0;
        
        
    }
    
    .carta:hover{
        cursor: pointer;
    }
    
    .carta:hover .intro1{
        height: 120px;
        top: 230px;
        background: rgb(27,27, 27, 0.5);
        
    
    }

    .carta:hover .intro2{
        height: 120px;
        top: 230px;
        background: rgb(27,27, 27, 0.5);
    
    }

    .carta:hover .intro3{
        height: 120px;
        top: 230px;
        background: rgb(27,27, 27, 0.5);
    
    }

    .carta:hover .intro4{
        height: 120px;
        top: 230px;
        background: rgb(27,27, 27, 0.5);
    
    }
    
    .carta:hover h1{
        opacity: 1;
        visibility: visible;
    
    }
    
    .carta:hover img{
        transform: scale(1.1);
    }
    
    .carta:hover .botonCard{
        opacity: 1;
        visibility: visible;
        
    }

    .intro1{
        height: 80px;
        width: 300px;
        padding: 6px;
        top: 270px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
        
    }

    .intro2{
        height: 80px;
        width: 300px;
        padding: 6px;
        top: 270px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
        
    }

    .intro3{
        height: 80px;
        width: 300px;
        padding: 6px;
        top: 270px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;

    }

    .intro4{
        height: 80px;
        width: 300px;
        padding: 6px;
        top: 270px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
    }

    .categorias{
        flex-wrap: wrap;
    }
    
    .anuncio{
        
        margin-inline: 10px;
       
   }

   

}

@media only screen and (max-width:680px) {

  
    img{
        height: 350px;
        width: 300px;
        border-radius: 3px;
        transition: .5s;
    
    }


    .carta{
        height: 350px;
        margin: 15px;
        width: 300px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
        position: relative;
    }
    
    
    
    h1{
        margin: 10px;
        width: auto;
        font-size: 20px;
        text-align: center;
        background-color: transparent;
    }
    
    .botonCard{
        visibility: hidden;
        opacity: 0;
        
        
    }
    
    .carta:hover{
        cursor: pointer;
    }
    
    

    .carta:hover .intro1{
        height: 120px;
        top: 230px;
        background: rgb(27,27, 27, 0.5);
        
        
    
    }

    .carta:hover .intro2{
        height: 120px;
        top: 230px;
        background: rgb(27,27, 27, 0.5);
    
    }

    .carta:hover .intro3{
        height: 120px;
        top: 230px;
        background: rgb(27,27, 27, 0.5);
    
    }

    .carta:hover .intro4{
        height: 120px;
        top: 230px;
        background: rgb(27,27, 27, 0.5);
    
    }
    
    .carta:hover h1{
        opacity: 1;
        visibility: visible;
    
    }
    
    .carta:hover img{
        transform: scale(1.1);
    }
    
    .carta:hover .botonCard{
        opacity: 1;
        visibility: visible;
        
    }

    .intro1{
        height: 80px;
        width: 300px;
        padding: 6px;
        top: 270px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
        
    }
    
    .intro2{
        height: 80px;
        width: 300px;
        padding: 6px;
        top: 270px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
        
    }

    .intro3{
        height: 80px;
        width: 300px;
        padding: 6px;
        top: 270px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;

    }

    .intro4{
        height: 80px;
        width: 300px;
        padding: 6px;
        top: 270px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
        
    }

    .categorias{
        flex-wrap: wrap;
    }
    


}



