@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

body{
  background-color: rgba(18, 27, 43, 1);
  
}
.titulocontacto{
  color:rgb(18, 116, 165);
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: rgb(76, 93, 101);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  
  
  input[type="submit"]:hover {
    background-color:rgb(43, 98, 194);
  }

