*{
    margin: 0;
    background-color: rgba(18, 27, 43, 1);
    color: aliceblue;
}

.textoCategorias{
    color: aliceblue;
    text-decoration: none;
    
}

.contenedor{
    display: flex;
    
}

img{
    height: 350px;
    width: 250px;
    border-radius: 3px;
    transition: .5s;

}

.carta{
    height: 350px;
    margin: 15px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.intro{
    height: 70px;
    width: 250px;
    padding: 6px;
    bottom: 303px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27,27, 27, 0.5);
    color: white;
    transition: .5s;
}

h1{
    margin: 10px;
    width: auto;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
}

.botonCard{
    visibility: hidden;
    opacity: 0;
    
    
}

.carta:hover{
    cursor: pointer;
}

.carta:hover .intro{
    height: 120px;
    bottom: 303px;
    background: rgb(27,27, 27, 0.5);

}

.carta:hover h1{
    opacity: 1;
    visibility: visible;

}

.carta:hover img{
    transform: scale(1.1);
}

.carta:hover .botonCard{
    opacity: 1;
    visibility: visible;
    
}

@media only screen and (max-width:1200px) {
    *{
        margin: 0;
        background-color: rgba(18, 27, 43, 1);
        color: aliceblue;
    }
    
    .textoCategorias{
        color: aliceblue;
        text-decoration: none;
        
    }
    
    .contenedor{
        display: flex;
        
    }
    
    img{
        height: 350px;
        width: 216px;
        border-radius: 3px;
        transition: .5s;
    
    }
    
    .carta{
        height: 350px;
        margin: 15px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
    }
    
    .intro{
        height: 70px;
        width: 216px;
        padding: 6px;
        bottom: 216px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
    }
    
    h1{
        margin: 10px;
        width: auto;
        font-size: 20px;
        text-align: center;
        background-color: transparent;
    }
    
    .botonCard{
        visibility: hidden;
        opacity: 0;
        
        
    }
    
    .carta:hover{
        cursor: pointer;
    }
    
    .carta:hover .intro{
        height: 120px;
        bottom: 218px;
        background: rgb(27,27, 27, 0.5);
    
    }
    
    .carta:hover h1{
        opacity: 1;
        visibility: visible;
    
    }
    
    .carta:hover img{
        transform: scale(1.1);
    }
    
    .carta:hover .botonCard{
        opacity: 1;
        visibility: visible;
        
    }
}

@media only screen and (max-width:1000px) {

    *{
        margin: 0;
        background-color: rgba(18, 27, 43, 1);
        color: aliceblue;
    }
    
    .textoCategorias{
        color: aliceblue;
        text-decoration: none;
        
    }

    .contenedor{
    display: flex;
    flex-direction: row ;
    align-items: center;
    flex-wrap: wrap;
    }

    img{
        height: 350px;
        width: 300px;
        border-radius: 3px;
        transition: .5s;
        position: static;
    
    }


    .carta{
        height: 350px;
        margin: 15px;
        width: 300px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
    }
    
    
    
    h1{
        margin: 10px;
        width: auto;
        font-size: 20px;
        text-align: center;
        background-color: transparent;
    }
    
    .botonCard{
        visibility: hidden;
        opacity: 0;
        
        
    }
    
    .carta:hover{
        cursor: pointer;
    }
    
    .carta:hover .intro1{
        height: 120px;
        top: 302px;
        background: rgb(27,27, 27, 0.5);
        
    
    }

    .carta:hover .intro2{
        height: 120px;
        top: 302px;
        background: rgb(27,27, 27, 0.5);
    
    }

    .carta:hover .intro3{
        height: 120px;
        top: 682px;
        background: rgb(27,27, 27, 0.5);
    
    }

    .carta:hover .intro4{
        height: 120px;
        top: 682px;
        background: rgb(27,27, 27, 0.5);
    
    }
    
    .carta:hover h1{
        opacity: 1;
        visibility: visible;
    
    }
    
    .carta:hover img{
        transform: scale(1.1);
    }
    
    .carta:hover .botonCard{
        opacity: 1;
        visibility: visible;
        
    }

    .intro1{
        height: 70px;
        width: 300px;
        padding: 6px;
        top: 353px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
        
    }

    .intro2{
        height: 70px;
        width: 300px;
        padding: 6px;
        top: 353px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
        
    }

    .intro3{
        height: 70px;
        width: 300px;
        padding: 6px;
        top: 732px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;

    }

    .intro4{
        height: 70px;
        width: 300px;
        padding: 6px;
        top: 732px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
    }

    .categorias{
        flex-wrap: wrap;
    }
    


}

@media only screen and (max-width:680px) {

  
    img{
        height: 350px;
        width: 300px;
        border-radius: 3px;
        transition: .5s;
    
    }


    .carta{
        height: 350px;
        margin: 15px;
        width: 300px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
    }
    
    
    
    h1{
        margin: 10px;
        width: auto;
        font-size: 20px;
        text-align: center;
        background-color: transparent;
    }
    
    .botonCard{
        visibility: hidden;
        opacity: 0;
        
        
    }
    
    .carta:hover{
        cursor: pointer;
    }
    
    

    .carta:hover .intro1{
        height: 120px;
        bottom: 215px;
        background: rgb(27,27, 27, 0.5);
    
    }

    .carta:hover .intro2{
        height: 120px;
        top: 682px;
        background: rgb(27,27, 27, 0.5);
    
    }

    .carta:hover .intro3{
        height: 120px;
        top: 1062px;
        background: rgb(27,27, 27, 0.5);
    
    }

    .carta:hover .intro4{
        height: 120px;
        top: 1442px;
        background: rgb(27,27, 27, 0.5);
    
    }
    
    .carta:hover h1{
        opacity: 1;
        visibility: visible;
    
    }
    
    .carta:hover img{
        transform: scale(1.1);
    }
    
    .carta:hover .botonCard{
        opacity: 1;
        visibility: visible;
        
    }

    .intro1{
        height: 70px;
        width: 300px;
        padding: 6px;
        top: 352px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
        
    }
    
    .intro2{
        height: 70px;
        width: 300px;
        padding: 6px;
        top: 733px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
        
    }

    .intro3{
        height: 70px;
        width: 300px;
        padding: 6px;
        top: 1112px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;

    }

    .intro4{
        height: 70px;
        width: 300px;
        padding: 6px;
        top: 1492px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27,27, 27, 0.5);
        color: white;
        transition: .5s;
    }

    .categorias{
        flex-wrap: wrap;
    }
    
    


}




