@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{
    margin: 0;
    background-color: rgba(18, 27, 43, 1);
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

h2{
    text-align: center;
}

.icono{
    text-align: center;
    cursor: pointer ;
}

.colorM{
    background-color: rgb(0, 0, 0);
    
}


.ver{
    text-decoration: none;
    background-color: transparent;
    color: black;
    
}

.wpp{
    text-decoration: none;
}

.botones{
    width: 99%;
    justify-content: center;

}